/node_modules
/public
/storage/*.key
/storage
storage
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/vendor/autoload.php

/vendor/composer/*
/vendor/composer

vendor/composer/autoload_classmap.php
vendor/composer/autoload_static.php
vendor/league
vendor/webmozart/
/vendor/*
storage/framework/views
storage/logs
app/Exceptions
app/Exceptions/Handler.php
composer.lock
app/Model
app/Custom
resources/views/admin/admin
resources/views/admin/amc_booklet
resources/views/admin/approve_setting
resources/views/admin/battery
resources/views/admin/bay
resources/views/admin/bestdeal
resources/views/admin/booking
resources/views/admin/emails
resources/views/admin/export
resources/views/admin/finance
resources/views/admin/fuel
resources/views/admin/insurance
resources/views/admin/hsrp
resources/views/admin/master
resources/views/admin/stockAllocation
resources/views/admin/uniform
